:root {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color--primary: #00393F;
  --color--secondary: #6c757d;
  --color--success: #28a745;
  --color--danger: #dc3545;
  --color--warning: #ffc107;
  --color--info: #17a2b8;
  --color--light: #f8f9fa;
  --color--dark: #343a40;
  --color--white: #fff;
  --color--black: #000;

  --btn-background-color: #EDE1C5;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color--white);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}